// Field
$field-height: 45px;
$textarea-height: $field-height * 2;
$field-font-size: 16px;
$field-border-radius: 12px;
.t-field {
  $parent: &;
  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__input,
  &__textarea,
  &__select {
    border: solid 1px $gray-light;
    height: $field-height;
    width: 100%;
    font-size: $field-font-size;
    border-radius: $field-border-radius;
    background: #fff;
    padding-left: 15px;
    color: $black;
    &::placeholder {
      color: $black-light;
    }
    &:hover,
    &:focus {
      border-color: $gray;
    }
  }
  &__select {
    appearance: none;
    padding-right: 30px;
    &-wrap {
      position: relative;
      &:after {
        content: "\F0140";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font: normal normal normal 16px/1 "Material Design Icons";
      }
    }
  }
  &__textarea {
    height: $textarea-height;
    padding-top: 10px;
  }
  &__error-message {
    margin-top: 5px;
    color: $red;
  }
  &--error {
    label {
      color: $red;
    }
    #{$parent}__input,
    #{$parent}__select {
      border-color: $red;
    }
  }
  &--disabled {
    label {
      color: $gray;
    }
    #{$parent}__input,
    #{$parent}__select {
      border-color: $gray;
      color: $gray;
      cursor: not-allowed;
    }
  }
}
//-
