.window-title {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.window-header {
  padding: 18px 0;
  border-bottom: 1px solid $gray-light;
}
// fix modal bug
.vm--modal {
  overflow-y: auto !important;
  height: 100% !important;
}
